@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .main-color {
    background-color: #ea2e0e;
  }

  .main-color-text {
    color: #ea2e0e;
  }
}
